---
import Layout from '../layouts/Layout.astro';
import Box from '../components/Box.astro';
---

<Layout title="Markdown Live Preview.">
	<main class="min-h-screen h-full w-full flex items-center justify-center bg-[#292C4A]">
			<Box />
	</main>
</Layout>