<section class="bg-[#fff] rounded-lg shadow-sm	flex items-center flex-col w-4/5 max-w-4xl">
	<textarea class="border-b-2 border-slate-300 rounded-none text-lg m-3 p-3 resize-none w-full outline-none focus:border-[#1E90FF]" id="markdown-input" placeholder="Digite aqui seu texto em Markdown (Digite help + tab se não souber o que é markdown)"></textarea>
	<div class="w-full border-none rounded-none m-3 p-3 text-lg leading-5" id="preview"></div>
</section>