---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
		overflow: overlay;
  }
  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media all and (hover: none), (pointer: coarse) {
  scrollbar-color: #1F2133 transparent; 
  scrollbar-width: thin; 
}

pre code {
  display: block;
  padding: 1em;
  border-radius: 4px;
  overflow-x: auto;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.language-js {
  background-color: #1e1f29;
  color: #abb2bf;
}
.language-css {
  background-color: #e5f7ff;
  color: #292d33;
}
.language-html {
  background-color: #ffefd5;
  color: #292d33;
}
.language-python {
  background-color: #2B5B84;
  color: #F0DB4F;
}
.language-ruby {
  background-color: #701516;
  color: #F7E3AF;
}
.language-php {
  background-color: #474A8A;
  color: #F5DEB3;
}

</style>

<script
  is:global
  src='https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js'
></script>
<script
  is:global
  src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/codemirror.min.js'
></script>
<script
  is:global
  src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/mode/xml/xml.min.js'
></script>
<script src='../scripts/script.js'></script>
